{% extends '_layouts/base.html' %}

{% block content %}
    {% if object_list %}
        <ul>
            {% for product in object_list %}
                <li>
                    <h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                    <p>${{ product.price }}</p>
                    <p>{{ product.quantity }} left in stock</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Sorry, no products available!</h3>
    {% endif %}
{% endblock %}
